@import './global.scss';

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Helvetica Neue Light';
  -webkit-font-smoothing: antialiased;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

header {
  background-color: $blue;
  height: 50px;
  width: 100vw;
}

main {
  height: calc(100vh - 70px - 50px);
  width: 100vw;
  overflow: hidden;
}

footer {
  background-color: $gray;
  height: 70px;
  width: 100vw;
}

@font-face {
  font-family: 'Helvetica Neue Light';
  font-style: normal;
  font-weight: light;
  src: font-url('./fonts/HelveticaNeue-Light.ttf') format('truetype');
}