@import './global';


$botton-c: rgb(155, 0, 0);
$botton-bg: rgba(165, 53, 53, .678);

@keyframes open {
  from {
    bottom: 70px;
    height: 0;
    overflow: hidden;
    position: absolute;
  }

  to {
    bottom: 70px;
    height: 125px;
    overflow: hidden;
    position: absolute;
  }
}

.new-task {
  animation: open ease-in .4s;
  background-color: $blue-lighter;
  border-top-right-radius: 10px;
  bottom: 70px;
  display: flex;
  flex-direction: column;
  height: 125px;
  justify-content: space-around;
  left: 0;
  position: absolute;
  width: 70%;

  h1,
  span,
  button {
    margin: 0;
    padding: 0;
  }

  h1 {
    font-size: 150%;
    line-height: 100%;
    text-align: center;
    text-transform: capitalize;
  }

  button {
    align-self: center;
    background-color: $botton-bg;
    border-radius: 10px;
    color: $botton-c;
    display: flex;
    font-size: large;
    height: 50%;
    justify-content: center;
    padding: 20px;
    width: 70px;

    span {
      align-self: center;
      font-family: $font;
      font-size: large;
    }
  }

  span {
    align-self: center;
    font-family: $font-timer;
    font-size: 300%;
    line-height: 100%;
  }

  form {
    display: flex;
    justify-content: space-between;
    padding: 0 30px;
  }
}
